{% extends 'wrapper.html' %}


{% block title %}{{ object.title }} {% endblock %}

{% block content %}




<div class="container mt-5 mb-5">

	<div class="row">

		<div class="col-md-9">

			<div class="card p-2">
				<img src="{{object.image.url}}" class="img-fluid" alt="">
				<div class="card-body">
					<h3 class="card-title">{{ object.title }}</h1>

						<div class="likes d-flex justify-content-start align-items-center">
							<a href="{% url 'blog:like' object.slug %}" class="btn text-dark fs-3">
								<i class="fas fa-thumbs-up h3"></i>
							</a>
							{{object.like}}
							<a href="{% url 'blog:dislike' object.slug %}" class="btn text-dark">
								<i class="fas fa-thumbs-down h3"></i>
							</a>
							{{object.dislike}}
						</div>

						<p>{{ object.description }}</p>

				</div>

			</div>

			<form class="mt-5" method="post">
				<div class="row">
					<div class="col-md-6">
						{% csrf_token %}

						{{form}}
						<div class="form-group mt-3">
							<button class="btn px-4 btn-success" type="submit">Yuborish</button>
						</div>
					</div>

					<div class="col-md-6">
						{% for comment in comments %}
						<div class="card mb-3">

							<div class="card-body">

								<h3>{{ comment.name }}</h3>
								<p>{{ comment.message }}</p>

							</div>

						</div>
						{% endfor %}
					</div>

				</div>
			</form>

		</div>

		<div class="col-md-3">

			<div class="card">

				<div class="d-flex align-items-center justify-content-center">
					<a href="#">
						<img src="img/audi.png" alt="">
					</a>
				</div>
				<hr>
				<div class="d-flex align-items-center justify-content-center">
					<a href="#">
						<img src="img/audi.png" alt="">
					</a>
				</div>

			</div>

		</div>

	</div>


</div>

{% endblock content %}
